<div id="landing" class="col-4 offset-4">
    <div class="d-flex justify-content-center">
        <blockquote class="blockquote">
            <p class="mb-0 lead text-align-center">If you are an applicant please click
                <b>APPLICATION</b> button to apply by filling your
                information and
                upload your resume too. If you are HR please click <b>HUMAN RESSOURCE</b> button.
            </p>
        </blockquote>
    </div>
    <div class="d-flex justify-content-center">
        <a routerLink="/apply" class="p-2">
            <button type="button" class="btn btn-primary"> APPLICATION PAGE</button>
        </a>
        <a *ngIf="!loggedin" routerLink="/login" class="p-2">
            <button type="button" class="btn btn-success"> HUMAN RESSOURCE</button>
        </a>
        <a *ngIf="loggedin" routerLink="/dashboard" class="p-2">
            <button type="button" class="btn btn-success"> HUMAN RESSOURCE</button>
        </a>
    </div>
</div>